.loading-com {
  animation: _rotate 3.333s linear infinite;
  .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }
  .dot-inner {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    transform-origin: center center;
    animation: _pulse 3.333s infinite;
  }
  .dot1 {
    transform: rotate(0deg) translateY(-14px);
  }
  .dot1 .dot-inner {
    background-color: #748eff;
    animation-delay: -1.111s;
  }
  .dot2 {
    transform: rotate(120deg) translateY(-14px);
  }
  .dot2 .dot-inner {
    background-color: #9b9ff6;
    animation-delay: -0.555s;
  }
  .dot3 {
    transform: rotate(240deg) translateY(-14px);
  }
  .dot3 .dot-inner {
    background-color: #bf98ff;
    animation-delay: 0s;
  }

  /* 整体旋转动画 */
  @keyframes _rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* 点自身缩放动画 */
  @keyframes _pulse {
    0%,
    100% {
      transform: scale(1);
    }

    25% {
      transform: scale(0.4);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(0.4);
    }
  }
}
